body {
    font-family: 'Raleway', sans-serif;
    /* caso nao haja internet, sera utilizada a fonte sans serif */
    margin: 0px;
}

#logo {
    text-align: center;
}

header {
    border: 1px solid #c5c5c5;
}

.menu {
    list-style-type: none;
    /* display: inline-flex; */
    text-align: center;
    padding: 0px;
}

.menu li {
    margin-right: 10px;
    display: inline-block;
}

a{
    text-decoration: none;
}

.bannerHome {
    width: 100%;
    height: 500px;
    background-image: url(../img/jane.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        /* background-size: 100%; é menos preciso que o cover */
    background-position: center;
        /* overflow: hidden; */
}

.rodapeHome {
    font-weight: bold; /*peso da fonte*/
    text-align: center;
    background-color: #c5c5c5;
    padding: 10px;
    margin-top: 30px;
}

#titulo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -10px;
}
#contact {
    text-align: left
}

.sobre {
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.semDestaque {
    font-size: 12px;
    font-weight: initial;
}

.divFotoAbout {
    text-align: center;
    margin-bottom: 40px;
}
.fotoAbout {
    width: 330px;
}

.conteudo {
    margin: 0 10%;
    font-weight: bold;
}
.simples {
    font-weight: initial;
}

.linkContato{
    text-decoration: underline;
}

.videos {

}

.listaNone {
    list-style-type: none;
    padding-left: 0px;
}

.listaNone li {
    margin: 10px;
}

.contact-form form *{
    /* o asterisco informa que se aplica para todos os filhos dentro dda classe ou tag*/
    display: block;
}

.contact-form form, iframe {
    display: inline-block;
    width: 49%;
}